# Python
venv/
.venv/
__pycache__/
*.py[cod]
*.pyo

# Environment files
.env

# Node.js
node_modules/
dist/

# Vite
.vite/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Python cache
.pytest_cache/  